
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  @media (min-width: 430px){
    background: linear-gradient(to right top, #c444ffc3, #79edff) !important;
  };
}

.container {
  font-family: 'Lato', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Vazirmatn', sans-serif;
  min-height: 100vh;
  width: 95vw;
  background-color: white;
  @media (min-width: 430px){
    max-width: 430px !important;
    padding: 0 3rem !important;
  };
}
.user-post__container{
  @media (min-width: 430px){
    max-width: 430px !important;
    margin: 0 auto;
    background-color: white;
    // border: 2px solid black;
  };
}

